<!DOCTYPE html>
<html>

  <head>
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    <style>
      * {
        font-family: 'Do Hyeon', sans-serif;
      }

    </style>
    <script type="text/javascript">
      $(function() {
        $("#join--submit").on("click", function() {
          let data = {
            name: $('#name').val(),
            account: $('#account').val(),
            password: $('#password').val(),
            age: $('#age').val(),
            rank: $('#rank').val(),
            roles: $('#roles').val(),
          }

          $.ajax({
            type: 'POST',
            url: '/members/sign-up',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'
          }).done(function(r) {
            alert("OK");
          }).fail(function(r) {
            alert('서버 오류');
          });
        });
      });

      $(function() {
        $("#login").on("click", function() {
          let data = {
            account: $('#login-account').val(),
            password: $('#login-password').val()
          }
          alert(data.account);
          $.ajax({
            type: 'POST',
            url: '/login',
            data: JSON.stringify(data),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json'
          }).done(function(r) {
            alert("OK");
          }).fail(function(r) {
            console.log(r);
            alert('서버 오류');
          });
        });
      });

    </script>

    <meta charset="utf-8">
    <title>ajax test</title>
  </head>

  <body>
    <!-- 01_nav_footer.html -->
    <nav class="navbar navbar-expand-md sticky-top navbar-light">
      <div class="container-fluid d-flex flex-justify-content-between flex-align-items-center">
        <a class="navbar-brand" href="index.html">
          <img src="images/logo.png" alt="Logo Image">
        </a>
        <div>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <!-- 로그인 여부에 따라서 변경 해줘야 하는 부분 -->
              <li class="nav-item">
                <a class="nav-link h2 mb-0" href="login.html" data-bs-toggle="modal" data-bs-target="#exampleModal">LOGIN</a>
              </li>
              <li class="nav-item">
                <a class="nav-link h2 mb-0" href="#">SIGNUP</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- 로그인 모달 -->
    <!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <form>
            <div class="m-4">
              <label for="login-account" class="form-label">ID</label>
              <input type="text" class="form-control" id="login-account">
            </div>
            <div class="m-4">
              <label for="login-password" class="form-label">PASSWORD</label>
              <input type="password" class="form-control" id="login-password">
            </div>
          </form>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">CLOSE</button>
            <button id="login" type="button" class="btn btn-primary">LOGIN</button>
          </div>
        </div>
      </div>
    </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>



    <div class="container">

      <form>
        <div class="form-group">
          <label for="name">이름 : </label>
          <input type="text" id="name">
        </div>

        <div class="form-group">
          <label for="account">ID</label>
          <input type="text" id="account">
        </div>

        <div class="form-group">
          <label for="password">PW</label>
          <input type="password" id="password">
        </div>

        <div class="form-group">
          <label for="age">Age</label>
          <input type="text" id="age">
        </div>

        <div class="form-group">
          <label for="rank">RANK</label>
          <input type="text" id="rank">
        </div>

        <div class="form-group">
          <label for="roles">ROLE</label>
          <input type="text" id="roles">
        </div>
      </form>

      <button id="join--submit" class="btn btn-primary">회원가입</button>
    </div>




    <div>
      <form>
        <div class="m-4">
          <label for="login-account" class="form-label">ID</label>
          <input type="text" class="form-control" name="login-account" id="login-account">
        </div>
        <div class="m-4">
          <label for="login-password" class="form-label">PASSWORD</label>
          <input type="password" class="form-control" name="login-password" id="login-password">
        </div>

      </form>

      <button id="login" type="button" class="btn btn-primary">LOGIN</button>
    </div>

  </body>

</html>
